@{
    ViewData["Title"] = "About Us";
}



<!-- Event Cards Section -->
<section class="why-us py-5">
    <div class="container text-center">
        <h2 class="fw-bold mb-4"></h2>
        <div class="row justify-content-center">


            <div class="container py-5">

                <div class="vertical-line mb-4"></div>

                <p class="section-paragraph">
                    We provide event management services to companies from different industries.
                </p>
                <p class="section-paragraph">
                    We have a vast vendor network of Hotels and partners who help us provide the best and most cost effective event services to our clients.
                </p>
                <p class="section-paragraph">
                    Our focus is to align your event objectives with modern concepts to deliver creative and engaging event experiences to your attendees.
                </p>

                <h4 class="section-title1">OUR EVENT MANAGEMENT PHILOSOPHY</h4>
                <p class="section-paragraph">
                    To make our clients event planning processes simple by offering reliable and impactful services.
                    The experience our clients get from working with us is always as important as the experience we deliver to the events audiences.
                </p>

                <h4 class="section-title1">OUR EVENT MANAGEMENT STRATEGY</h4>
                <p class="section-paragraph">
                    We identify key focus areas for every event
                    <span class="link-highlight">we plan and consult you about what works best</span>
                    and what can help you derive maximum return on your investment.
                </p>

                <p class="section-paragraph">Our approach is 2 pronged:</p>

                <ul class="strategy-list list-unstyled">
                    <li><span>1)</span> We obviously suggest what we think would be best suited for your company's event.</li>
                    <li><span>2)</span> We try and do it in a cost effective and budgeted manner.</li>
                </ul>

                <p class="section-paragraph">
                    This approach helps us meet your expectations in a more focused manner.
                </p>
                <div class="vertical-line my-4"></div>
            </div>



            <!-- Card 1 -->
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="why-box">
                    <div class="why-icon">
                        <i class="fa-solid fa-file-lines"></i>
                    </div>
                    <h5 class="fw-bold mt-3">EXPERIENCE AND EXPERTISE</h5>
                    <div class="orange-line mb-2"></div>
                    <p class="text-muted">
                        We have been <span class="highlight">event organizers since 2005</span> and have worked extensively with companies from different industries.
                    </p>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="why-box">
                    <div class="why-icon">
                        <i class="fa-solid fa-network-wired"></i>
                    </div>
                    <h5 class="fw-bold mt-3">VENDOR NETWORK</h5>
                    <div class="orange-line mb-2"></div>
                    <p class="text-muted">
                        We have a vast event vendor network who we work with to plan events for our clients in India, Middle East and South East Asia.
                    </p>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="why-box">
                    <div class="why-icon">
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                    </div>
                    <h5 class="fw-bold mt-3">COST EFFECTIVE</h5>
                    <div class="orange-line mb-2"></div>
                    <p class="text-muted">
                        Our event services are cost effective and impact-full, we work with you to plan your events in sync with budgets assigned.
                    </p>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="why-box">
                    <div class="why-icon">
                        <i class="fa-solid fa-user-secret"></i>
                    </div>
                    <h5 class="fw-bold mt-3">TRANSPARENT</h5>
                    <div class="orange-line mb-2"></div>
                    <p class="text-muted">
                        We assure complete transparency and implement it at every step of the event planning process.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

@section AboutUs {
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
}
@section AboutusScripts {
    <script>
        let footHide = document.getElementById('Foot-Hide');
        footHide.hidden = true;
    </script>
}
