@{
    ViewData["Title"] = "Services";
}

<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-5">

        <div class="col">
            <div class="h-100 p-3">
                <h5 class="text-primary fw-bold text-uppercase">
                    <a href="#" class="text-decoration-none text-primary">Virtual Event Services</a>
                </h5>
                <p class="small text-muted mb-0">
                    We offer a complete virtual events solution which helps you offer a VIP experience to your attendees.
                    <br><br>
                    Virtual events is the new normal, and we can offer you the best at cost-effective prices.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="h-100 p-3">
                <h5 class="text-primary fw-bold text-uppercase">
                    <a href="#" class="text-decoration-none text-primary">Conceptualization</a>
                </h5>
                <p class="small text-muted mb-0">
                    We work backwards from the client brief provided to create concept-driven events which are immersive and engaging for your attendees.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="h-100 p-3">
                <h5 class="text-primary fw-bold text-uppercase">
                    <a href="#" class="text-decoration-none text-primary">Event Video Production</a>
                </h5>
                <p class="small text-muted mb-0">
                    We help create any brand paraphernalia required. We create concept-driven short films and material required for attendees. This may include brochures as well.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="h-100 p-3">
                <h5 class="text-primary fw-bold text-uppercase">
                    <a href="#" class="text-decoration-none text-primary">Event Production</a>
                </h5>
                <p class="small text-muted mb-0">
                    We manage complete end-to-end event production including Fabrication, AV Rentals, Sound and Light Equipment.
                    <br><br>
                    We custom fabricate elements based on the event brief received.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="h-100 p-3">
                <h5 class="text-primary fw-bold text-uppercase">
                    <a href="#" class="text-decoration-none text-primary">Event Management</a>
                </h5>
                <p class="small text-muted mb-0">
                    We also manage on-day running including Guest Management, Console Management, and Backstage Services.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="h-100 p-3">
                <h5 class="text-primary fw-bold text-uppercase">
                    <a href="#" class="text-decoration-none text-primary">Corporate Gifting Services</a>
                </h5>
                <p class="small text-muted mb-0">
                    We provide a range of options for corporate gifting based on your requirements.
                </p>
            </div>
        </div>

    </div>
</div>

@section Services {
    <link rel="stylesheet" href="~/css/Services.css" asp-append-version="true" />
}