@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<section class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px;">
        <h3 class="text-center mb-3">Forgot Password - OTP Verification</h3>
        <hr />

        <form method="post" asp-action="ForgotPassword" asp-controller="Login">
            <div asp-validation-summary="All" class="text-danger small mb-2"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Otp" class="form-label"></label>
                <input asp-for="Otp" class="form-control" />
                <span asp-validation-for="Otp" class="text-danger small"></span>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" name="actionType" value="SendOtp" class="btn btn-primary w-50">Send OTP</button>
                <button type="submit" name="actionType" value="VerifyOtp" class="btn btn-success w-50">Verify OTP</button>
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.Message as string))
            {
                <div class="alert alert-info mt-3 text-center">@ViewBag.Message</div>

            }
            <div>
                <button type="submit" class="btn btn-secondary btn-lg w-100 mt-3"><a asp-action="Index" class="text-white text-decoration-none"><i class="bi bi-arrow-left-circle me-1 "></i> Back to Login</a></button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
